/****Variables****/
/****STYLING****/
html {
  font-family: "Lucinda Sans", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  font-size: 1em;
}

.main-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-header ul {
  background-color: #fff;
  font-weight: 600;
  left: 1;
  list-style: none;
  -webkit-columns: 4;
          columns: 4;
  position: absolute;
  text-transform: uppercase;
  z-index: 5;
}

.main-header li {
  padding: 2rem 0;
}

.header-1,
.header-2 {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 44rem;
  padding: 4em 2em;
}

.header-1 {
  background-color: #f58a42;
}

.header-1 img {
  position: relative;
  top: 1.5em;
  height: 5rem;
  width: 5rem;
  z-index: 3;
}

.header-1 p {
  -webkit-text-decoration: italic;
          text-decoration: italic;
  font-size: 2em;
  width: 5em;
  top: 0.75em;
}

.header-1 h2 {
  position: absolute;
  font-size: 2em;
  z-index: 2;
}

.header-1::after {
  background-color: #f58a42;
  content: "";
  position: absolute;
  top: 0;
  left: -60%;
  width: 100%;
  height: 44rem;
  -webkit-transform-origin: 100% 0;
          transform-origin: 100% 0;
  -webkit-transform: skew(-10deg);
          transform: skew(-10deg);
  z-index: 1;
}

.header-2 {
  background: #db5461 url("./assets/image04-4.jpg") no-repeat left;
  background: cover;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

/* Mobile Phones */
[class*=""] {
  font-size: 10%;
  width: 2rem;
}

/* Display Grids */
.grid-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 60px;
  padding: 5px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.grid-wrapper a:hover {
  background-color: rgba(74, 74, 74, 0.3);
}

.grid-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #e7e7e7;
  color: #f8873c;
  font-family: 48px;
  font-weight: bold;
  font-size: 2em;
  position: relative;
  height: 5rem;
  width: 6em;
  margin-top: 6em;
  margin-left: 6em;
}

.grid-child img {
  width: 6em;
}

.grid-child:nth-child(2n) {
  margin-right: 2px;
}

.grid-child:nth-child(4) {
  margin-top: 11em;
}

.grid-child:nth-child(5) {
  margin-top: 11em;
}

.grid-child:nth-child(6) {
  margin-top: 11em;
}

@supports (display: grid) {
  .grid-child {
    grid-gap: 10px;
    margin-right: 0;
    margin-bottom: 0;
  }
}

/* Mission SCSS */
.mission {
  background-color: #f8873c;
}

.mission span {
  margin-left: 1em;
  font-size: 2.5em;
}

.mission-description {
  font-size: 2.5em;
  margin-left: 1em;
}

/* Tablets */
@media only screen and (min-width: 600px) {
  .col-sm-1 {
    position: absolute;
    top: 0.1em;
    left: 0.1em;
    width: 200px;
    font-size: 2rem;
    left: 3em;
  }
  .col-sm-1 p {
    position: relative;
    z-index: 3;
  }
  .col-sm-1 img {
    left: 2em;
    width: 8rem;
    height: 8rem;
  }
  .col-sm-1 {
    position: absolute;
    top: 0.1em;
    left: 0.1em;
    width: 200px;
  }
  .col-sm-1 p {
    position: relative;
    z-index: 3;
  }
  .header-1 p {
    display: none;
  }
  .header-1 h2 {
    font-size: 2.5em;
    color: black;
    top: 8em;
    left: 1.5em;
  }
  .grid-child {
    margin-left: 1em;
    font-size: 1.8em;
  }
  .mission span {
    font-size: 1.5em;
  }
  .mission-description img {
    margin-left: 1em;
    width: 3em;
    height: 3em;
  }
}

@media only screen and (min-width: 900px) {
  .col-sm-1 {
    position: absolute;
    top: 0.1em;
    left: 0.1em;
    width: 200px;
    font-size: 2rem;
    left: 2em;
  }
  .col-sm-1 p {
    position: relative;
    z-index: 3;
  }
  .col-sm-1 img {
    width: 8rem;
    height: 8rem;
  }
  .header-1 p {
    display: block;
  }
  .header-1 h2 {
    font-size: 3em;
  }
  .grid-child {
    margin-left: 3.5em;
    font-size: 1.7em;
  }
  .mission span {
    font-size: 2.5em;
  }
}

@media only screen and (min-width: 1200px) {
  .grid-child {
    margin-left: 7em;
    font-size: 1.7em;
  }
}
/*# sourceMappingURL=style.css.map */