/****Variables****/
$black: #000000;
$white: #ffffff;

/****STYLING****/
html,
body {
  margin: 0;
  padding: 0;
}

/* Navigation */
$nav-border: 2px solid black;
$nav-font-family: "Courier New", Courier, monospace;
$nav-font-size: 60px;
$nav-font-weight: bold;

.nav-parent {
  border-bottom: $nav-border;
  font-family: $nav-font-family;
  font-size: $nav-font-size;
  font-weight: $nav-font-weight;
  position: relative;
}

/* Banner */
$break-small: 600px;
$break-medium: 1000px;
$break-large: 1200px;
$banner-position: relative;
$banner-width: 100%;
$banner-height: auto;

$banner-text-small-font: 2em;
$banner-text-small-top: 1%;
$banner-text-small-left: 2%;
$banner-text-small-width: 200px;
$banner-text-img-small-width: 5rem;
$banner-text-img-small-height: 5rem;

$banner-text-medium-font: 3em;
$banner-text-medium-top: 2%;
$banner-text-medium-left: 3%;
$banner-text-medium-width: 400px;
$banner-text-img-medium-width: 5rem;
$banner-text-img-medium-height: 5rem;

$banner-text-large-top: 5%;
$banner-text-large-left: 2%;
$banner-text-large-width: 50%;
$banner-text-large-font-size: 3em;
$banner-text-img-large-width: 5rem;
$banner-text-img-large-height: 5rem;

.header-hide {
  @media screen and (max-width: $break-small) {
    display: none;
  }
}
.header {
  position: $banner-position;

  h1 {
    position: absolute;
    @media screen and (max-width: $break-small) {
      font-size: $banner-text-small-font;
      top: $banner-text-small-top;
      left: $banner-text-small-left;
      width: $banner-text-small-width;
      img {
        width: $banner-text-img-small-width;
        height: $banner-text-img-small-height;
      }
    }
    @media screen and (max-width: $break-medium) {
      font-size: $banner-text-medium-font;
      top: $banner-text-medium-top;
      left: $banner-text-medium-left;
      width: $banner-text-medium-width;
      img {
        width: $banner-text-img-medium-width;
        height: $banner-text-img-medium-height;
      }
    }

    @media screen and (min-width: $break-large) {
      top: $banner-text-large-top;
      left: $banner-text-large-left;
      width: $banner-text-large-width;
      font-size: $banner-text-large-font-size;
      img {
        width: $banner-text-img-large-width;
        height: $banner-text-img-large-height;
      }
    }
  }

  img {
    width: $banner-width;
    height: $banner-height;
  }
}

$header-links-small-left: 3em;
$header-links-small-top: 2em;
$header-links-small-width: 50%;
$header-links-small-text-font: 1.5em;

$header-links-large-left: 4em;
$header-links-large-top: 3em;
$header-links-large-width: 30%;
$header-links-large-text-font: 1.5em;

.header-links {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.3);

  @media screen and(max-width: $break-small) {
    top: $header-links-small-top;
    left: $header-links-small-left;
    width: $header-links-small-width;
    font-size: $header-links-small-text-font;
  }
  @media screen and(min-width: $break-large) {
    top: $banner-text-large-top;
    left: $header-links-large-left;
    width: $header-links-large-width;
    font-size: $header-links-large-text-font;
  }

  &:not(:nth-child(n + 4)) {
    margin-left: 100px;
  }
  &:not(:nth-child(3n)) {
    margin-left: 10px;
  }
}

/* Grid */
@mixin basic-styles {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: teal;
  color: white;
  font-family: Arial;
  font-size: 48px;
  font-weight: bold;
}

@mixin display-grid {
  display: -ms-grid;
  display: grid;
}

@mixin grid-child($col-start, $col-end, $row-start, $row-end) {
  -ms-grid-column: $col-start;
  -ms-grid-column-span: $col-end - $col-start;
  -ms-grid-row: $row-start;
  -ms-grid-row-span: $row-end - $row-start;
  grid-column: #{$col-start} / #{$col-end};
  grid-row: #{$row-start} / #{$row-end};
}

.grid-parent {
  @include display-grid;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 100px;
  border: 5px solid tomato;
  padding: 10px;
  position: relative;
}

.grid-child {
  @include basic-styles;
}

.grid-child {
  &:not(:nth-child(n + 4)) {
    margin-bottom: 10px;
  }

  &:not(:nth-child(3n)) {
    margin-right: 10px;
  }
}

@supports (display: grid) {
  .grid-child {
    grid-gap: 10px;
    margin-right: 0;
    margin-bottom: 0;
  }
}
