/****Variables****/
/****STYLING****/
html,
body {
  margin: 0;
  padding: 0;
}

/* Navigation */
.nav-parent {
  border-bottom: 2px solid black;
  font-family: "Courier New", Courier, monospace;
  font-size: 60px;
  font-weight: bold;
  position: relative;
}

/* Banner */
@media screen and (max-width: 600px) {
  .header-hide {
    display: none;
  }
}

.header {
  position: relative;
}

.header h1 {
  position: absolute;
}

@media screen and (max-width: 600px) {
  .header h1 {
    font-size: 2em;
    top: 1%;
    left: 2%;
    width: 200px;
  }
  .header h1 img {
    width: 5rem;
    height: 5rem;
  }
}

@media screen and (max-width: 1000px) {
  .header h1 {
    font-size: 3em;
    top: 2%;
    left: 3%;
    width: 400px;
  }
  .header h1 img {
    width: 5rem;
    height: 5rem;
  }
}

@media screen and (min-width: 1200px) {
  .header h1 {
    top: 5%;
    left: 2%;
    width: 50%;
    font-size: 3em;
  }
  .header h1 img {
    width: 5rem;
    height: 5rem;
  }
}

.header img {
  width: 100%;
  height: auto;
}

.header-links {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.3);
}

@media screen and (max-width: 600px) {
  .header-links {
    top: 2em;
    left: 3em;
    width: 50%;
    font-size: 1.5em;
  }
}

@media screen and (min-width: 1200px) {
  .header-links {
    top: 5%;
    left: 4em;
    width: 30%;
    font-size: 1.5em;
  }
}

.header-links:not(:nth-child(n + 4)) {
  margin-left: 100px;
}

.header-links:not(:nth-child(3n)) {
  margin-left: 10px;
}

/* Grid */
.grid-parent {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 100px;
  border: 5px solid tomato;
  padding: 10px;
  position: relative;
}

.grid-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: teal;
  color: white;
  font-family: Arial;
  font-size: 48px;
  font-weight: bold;
}

.grid-child:not(:nth-child(n + 4)) {
  margin-bottom: 10px;
}

.grid-child:not(:nth-child(3n)) {
  margin-right: 10px;
}

@supports (display: grid) {
  .grid-child {
    grid-gap: 10px;
    margin-right: 0;
    margin-bottom: 0;
  }
}
/*# sourceMappingURL=extra.css.map */