/****Variables****/
$black: #000000;
$white: #ffffff;

/****STYLING****/
html {
  font-family: "Lucinda Sans", sans-serif;
}
html,
body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  font-size: 1em;
}

.main-header {
  display: flex;

  ul {
    background-color: #fff;
    font-weight: 600;
    left: 1;
    list-style: none;
    columns: 4;
    position: absolute;
    text-transform: uppercase;
    z-index: 5;
  }

  li {
    padding: 2rem 0;
  }
}

.header-1,
.header-2 {
  flex-grow: 1;
  height: 44rem;
  padding: 4em 2em;
}

.header-1 {
  background-color: rgb(245, 138, 66);
  flex-basis: 00%;
  top: 1em;

  img {
    position: relative;
    height: 5rem;
    width: 5rem;
    z-index: 3;
  }

  p {
    text-decoration: italic;
    font-size: 2em;
    width: 5em;
  }
}
.header-1 h2 {
  position: absolute;
  top: 10em;
  font-size: 2em;
  z-index: 2;
}

.header-1::after {
  background-color: rgb(245, 138, 66);
  content: "";
  position: absolute;
  top: 0;
  left: -60%;
  width: 100%;
  height: 44rem;
  transform-origin: 100% 0;
  transform: skew(-10deg);
  z-index: 1;
}
.header-2 {
  background: #db5461 url("./assets/image04-4.jpg") no-repeat left;
  background: cover;
  flex-basis: 100%;
}

/* Mobile Phones */
[class*=""] {
  font-size: 10%;
  width: 2rem;
}

$banner-text-top: 0.1em;
$banner-text-left: 0.1em;
$banner-text-img-width: 2.5rem;
$banner-text-img-height: 2.5rem;

@mixin basic-header {
  position: absolute;
  top: $banner-text-top;
  left: $banner-text-left;
  width: 200px;

  p {
    position: relative;
    z-index: 3;
  }
}

@mixin basic-nav {
  position: relative;
  right: 1em;
  bottom: 15rem;
  background: rgba(255, 255, 255, 0.4);
}

/* Display Grids */
@mixin basic-styles {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(231, 231, 231);
  color: rgb(248, 135, 60);
  font-family: 48px;
  font-weight: bold;
}

@mixin display-grid {
  display: -ms-grid;
  display: grid;
}

@mixin grid-child($col-start, $col-end, $row-start, $row-end) {
  -ms-grid-column: $col-start;
  -ms-grid-column-span: $col-end - $col-start;
  -ms-grid-row: $row-start;
  -ms-grid-row-span: $row-end - $row-start;
  grid-column: #{$col-start} / #{$col-end};
  grid-row: #{$row-start} / #{$row-end};
}

.grid-wrapper {
  @include display-grid;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 60px;
  padding: 5px;
  justify-content: center;
  align-items: center;
  position: relative;
}

.grid-child {
  @include basic-styles;
  font-size: 2em;
  position: relative;
  height: 5rem;
  width: 6em;
  margin-top: 6em;
  margin-left: 6em;

  img {
    width: 6em;
  }
}

.grid-child {
  &:nth-child(2n) {
    margin-right: 2px;
  }
  &:nth-child(4) {
    margin-top: 11em;
  }
  &:nth-child(5) {
    margin-top: 11em;
  }
  &:nth-child(6) {
    margin-top: 11em;
  }
}

@supports (display: grid) {
  .grid-child {
    grid-gap: 10px;
    margin-right: 0;
    margin-bottom: 0;
  }
}

/* Mission SCSS */

/* Tablets */
@media only screen and (min-width: 0px) {
  // Icon + Tag
  .col-sm-1 {
    @include basic-header;
  }
  .header-1 h2 {
    top: 10em;
    font-size: 2em;
  }
}

/* Tablets */
@media only screen and (min-width: 900px) {
  .col-sm-1 {
    @include basic-header;
  }
  .header-1 h2 {
    left: 1em;
    top: 7em;
    font-size: 2em;
  }
  .grid-child {
    margin-left: 5em;
    font-size: 1.5em;
  }
}

/* Tablets */
@media only screen and (min-width: 900px) {
  // Icon + Tag
  .col-sm-1 {
    @include basic-header;
  }
  .header-1 h2 {
    left: 1em;
    top: 7em;
    font-size: 2em;
  }
  .grid-child {
    margin-left: 5em;
    font-size: 1.5em;
  }
}

@media only screen and (max-width: 1155px) {
  // Icon + Tag
  .col-sm-1 {
    @include basic-header;
    font-size: 2rem;
    left: 2em;
    img {
      width: 8rem;
      height: 8rem;
    }
  }
  .header-1 h2 {
    top: 7em;
    font-size: 2.6em;
  }
}
