* {
  box-sizing: border-box;
}
.flex-grid {
  display: flex;
  background-color: green;
  grid-column-gap: 20px;
}
.col {
  background-color: pink;
  border: 1px black solid;
  flex: 1;
}

.header-1 {
  grid-column-start: 1;
  //grid-column-end: 4;
}

.header-2 {
  grid-row-gap: 2em;
}
