* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.flex-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: green;
  grid-column-gap: 20px;
}

.col {
  background-color: pink;
  border: 1px black solid;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.header-1 {
  -ms-grid-column: 1;
      grid-column-start: 1;
}

.header-2 {
  grid-row-gap: 2em;
}
/*# sourceMappingURL=style.css.map */